@for $i from 1 to 13{
    .col-#{$i}{
        width: 100% * $i / 12;
    }
}
//clearfix
.container::after {
    content: "";
    display:table;
    clear: both;
  }
  
  [class*="col-"] {
    float: left;
  }
  body{
      font-family: 'Lato', sans-serif;
      color: $font-color;
  }
a{
    text-decoration: $decoration-none;
}
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.f-right{
    float: right;
}
.btn{
    display: $display-inline;
    padding: 10px;
    border-radius: 5px;
    background-color:  #1b2d70;
    color: white;
}
ul{
    list-style: none;
}