//section introduction
.introduction{
    background-color: $bg-main;
    text-align: $align-i;
}
.introduction ul img{
    width: 100px;
}
.main-img{
    width: 300px;
    padding-bottom: $pb-main;
}
.container-main{
    max-width: $container-width;
    padding-left: $container-padding;
    padding-right: $container-padding;
    display: $display-flex;
    justify-content: $align-i;
}
.container-top{
    border-bottom: 1px solid black;
    margin: 0 100px;
}
ul{
    display: $display-flex;
    justify-content: space-around;
    width: 100%;
}
.introduction{
    h3:not(.last){
    padding-top: $pt-main;
    }
}
.last{
    padding-bottom: $pb-main;
}
//section path
.container-full{
    padding-top: $pt-main;
    display: $display-flex;
    justify-content: $align-i;
}
.container-full:nth-of-type(1){
    padding-top: 0;
}
.pic{
    width: 50%;
}
.description{
    width: 400px;
}
.box{
    width: $box-width;
    .half{
        width: 70%;
    }
}
//section start
.start{
    background-color: $bg-main;
}
.container-block{
    text-align: $align-i;
    padding-bottom: $pb-main;
   
    h1{
            margin-top: $mt-start;
        }
   
        .box{
            margin: $mt-start auto;
            background-color: white;
            padding: $pt-main;
            width: 70%;
            border-radius: 10px;
            border: 1px solid $color;
                h1, button{
            margin-top: $mt-start;
        }
    }
        .button-box{
            p{
            display: block;
                }
            }
            
    
}
