.introduction{
    background-color: $bg-main;
    text-align: $align-i;
}
.introduction ul img{
    width: 100px;
}
.main-img{
    width: 300px;
    padding-bottom: $pb-main;
}
.container-main{
    max-width: $container-width;
    padding-left: $container-padding;
    padding-right: $container-padding;
    display: $display-flex;
    justify-content: $align-i;
}
.container-top{
    border-bottom: 1px solid black;
   margin: 0 100px;
}
ul{
    display: $display-flex;
    justify-content: space-around;
    width: 100%;
}
h3:not(.last){
    padding-top: $pt-main;
}
.last{
    padding-bottom: $pb-main;
}
