//background
$bg-main: #f2d7c9;
//container
$container-width: 1170px;
$container-padding: 100px;
//displayList
$display-inline: inline-block;
//displayFlex
$display-flex: flex;
$align-i: center;
$justify-between: space-between;
//anchor
$decoration-none: none;
//padding-main
$pt-main: 70px;
$pb-main: 70px;
//path structure
@each $container in path {
    .#{$container}{
        padding-top: $pt-main;
    }
}
$box-width: 50%;
